<div id="header">
  <div id="headerLeft">
    <p class="adresse-form">
      <mat-form-field appearance="outline">
        <mat-label>Code postal</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="postcode" (change)="getPostcode()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </p>
    <mat-icon>highlight_off</mat-icon>
    <button mat-button (click)="getLocation()">Activer la géolocalisation</button>
  </div>
  <div id="headerRight">
    <div class="map">
      <p>Maps</p>
    </div>
    <div class="vehicule">
      <p id="headerVehicule">Mon véhicule</p>
    </div>
  </div>
</div>
