#header{
  width: 100%;
  display: flex;
  align-content: space-between;
  height: 8%;background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #26437E 0%, #56779F 100%);

}

#headerLeft{
  width: 70%;
  display: flex;
  margin: auto;
}

#headerRight{
  width: 30%;
  display: flex;
}

#headerRight div{
  width: 50%;
  border-left: solid 1px #A6C4DE;
  text-align: center;
  display: flex;
}

#headerLeft button {
  margin: 8px 8px 8px 0;
}

#headerLeft p, #headerLeft mat-icon, #headerLeft button{
  margin: auto 10px;
}

#headerRight div p{
  margin: auto;
}

p, mat-icon{
  color: #A6C4DE;
}

a:visited{
  color: #A6C4DE;
  text-decoration: none;
}


a{
  text-decoration: none;
  color: #A6C4DE;
}


@media (max-width: 945px) {
  
}
