<div id="header">
  <div id="headerLeft" *ngIf="connectedCode">
    <p class="adresse-form">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Code postal" [(ngModel)]="postcode" (change)="getPostcode()">
        <mat-icon matSuffix (click)="getPostcode()">search</mat-icon>
      </mat-form-field>
    </p>
    <mat-icon (click)="getClosestStation()">highlight_off</mat-icon>
    <button mat-button (click)="getLocation()">Activer la géolocalisation</button>
  </div>
  <div id="headerRight" *ngIf="connectedCode">
    <div class="map">
      <p><a href="map">Accueil</a></p>
    </div>
    <div class="vehicule">
      <p><a href="/monVehicule">Mon véhicule</a></p>
    </div>
    <div class="supprimer">
      <p><a href="#" (click)="supprimerCompte()">Supprimer mon compte</a></p>
    </div>
    <div class="deconnexion">
      <p><a href="#" (click)="deconnexion()">Deconnexion</a></p>
    </div>
  </div>
</div>
