body{
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
}

label{
  justify-content: center;
  font-weight: bold;
  color: white;
  font-family: 'Jost', sans-serif;
}

.w3-main{
  width: 70%;
  padding-top: 200px;
}

body{
  overflow: auto;
}

.w3-light-grey{
  padding-top: 20%;
}


.buttonNote{
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #26437E;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}
.buttonNote:hover{
  background: #56779F;
}
