body{
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
}

label{
  justify-content: center;
  font-weight: bold;
  color: white;
  font-family: 'Jost', sans-serif;
}

.w3-main{
  width: 70%;
  padding-top: 200px;
}

body{
  overflow: auto;
}

.w3-light-grey{
  padding-top: 20%;
}

