<app-header></app-header>
<body>
<div class="main">
  <section>
    <div id="voitureFav">
      <h1>Mon profil</h1>
      <h2>Mes voitures favorites :</h2>
      <table>
        <thead>
        <tr>
          <th>Modèle</th>
          <th>Marque</th>
          <th>Carburant</th>
          <th>Année</th>
          <th>Rejoindre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of favoriteCars">
          <td>{{car.modele}}</td>
          <td>{{car.marque}}</td>
          <td>{{car.carburant}}</td>
          <td>{{car.annee}}</td>
          <td (click)="goToCar(car.modele,car.marque,car.carburant,car.annee)">
            <mat-icon>arrow_right_alt</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="palceFav">
      <h2>Mes places favorites :</h2>
      <table>
        <thead>
        <tr>
          <th>Adress</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Rejoindre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let place of favoritePlaces">
          <td>{{place.address}}</td>
          <td>{{place.latitude}}</td>
          <td>{{place.longitude}}</td>
          <td (click)="goToPlace(place.address,place.latitude,place.longitude)">
            <mat-icon>arrow_right_alt</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div id="lastVoiture">
      <h2>Mes dernières voitures :</h2>
      <table>
        <thead>
        <tr>
          <th>Modèle</th>
          <th>Marque</th>
          <th>Carburant</th>
          <th>Année</th>
          <th>Rejoindre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of lastCars">
          <td>{{car.modele}}</td>
          <td>{{car.marque}}</td>
          <td>{{car.carburant}}</td>
          <td>{{car.annee}}</td>
          <td (click)="goToCar(car.modele,car.marque,car.carburant,car.annee)">
            <mat-icon>arrow_right_alt</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="lastPlaces">
      <h2>Les dernieres places :</h2>
      <table>
        <thead>
        <tr>
          <th>Adress</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Rejoindre</th>
          <th>Favoris</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let place of lastPlaces; let i = index">
          <td>{{place.address}}</td>
          <td>{{place.latitude}}</td>
          <td>{{place.longitude}}</td>
          <td (click)="goToPlace(place.address,place.latitude,place.longitude)">
            <mat-icon>arrow_right_alt</mat-icon>
          </td>
          <td (click)="changeFavoris(place.id, i)">
            <mat-icon *ngIf="!favoris(place.id)">favorite_border</mat-icon>
            <mat-icon *ngIf="favoris(place.id)">favorite</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="button">
    <button mat-button id="delete" (click)="supprimerCompte()">Supprimer le compte</button>
    <button id="deconnexion" (click)="deconnexion()">Deconnexion</button>
  </div>
</div>
</body>
