<html>
<app-header></app-header>
<body>
<div class="main">
  <form id="search-form" name="gs" method="submit" role="search" [formGroup]="choixVehiculeForm"
        (ngSubmit)="enregistrerVehicule()">
    <span class="custom-dropdown big">
      <select matInput id="vehicule" type="text" [formControl]="vehiculeControl" required="required">
         <option value="" disabled selected>Selectionner votre véhicule</option>
        <option *ngFor="let str of modele_utac" [value]="str.toString()">
          {{str.toString()}}
      </option>
      </select>
    </span>
    <br/>
    <br/>
<!--    <span class="custom-dropdown big">
      <select matInput id="favori" type="text" [formControl]="favoriControl" required="required">
        <option value="" disabled selected>Ajouter au favoris</option>
        <option value="0">Non</option>
        <option value="1">Oui</option>
      </select>
    </span>
    -->
    <button class="main-button">Valider</button>
  </form>
</div>
</body>
</html>
