.map-container{
  display: contents;
}

.map-frame {
  height: 100%;
  width: 50%;
}

#map{
  position: relative;
  height: 100%;
}

section{
  height: 92%;
  display: flex;
}

div#stats{
  width: 50%;
}
